<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-sm-3">
        <h3><% cocktail.name %></h3>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-sm-6 div-sm-offset-3">
      <%= link_to "Create a new cocktail", new_cocktail_path %>
    </div>

  </div>
</div>
